@media screen and (max-width: 728px) {
    .site-branding {
        top:10px;
        left:50%;
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
    .main-menu {
        padding-top:20px;
        padding-bottom:10px;
    }
    .ceo-word {
        padding-top:30px;
        padding-bottom:30px;
    }
    .site-main {
        padding-top:25px;
    }
    .footer-section img {
        max-width:50% !important;
    }
}